<h3>Creado por <%= autor %></h3>
<img src="/images/yo.jpg" border=2 vspace=7 hspace=7 alt="Autor del Proyecto">
<p>
<p>Renato Luis Ramirez Rivero</p>
<a href="http://renatoramirez.com">Mi web</a>
<p>



